/*--------------------------------- IMPORTS ----------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); /* Bootstrap Icons */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Open Sans - Google Fonts: Primary font. */


/*-------------------------------- VARIABLES ---------------------------------*/
:root {
    --primary-color: #112851;
    --secondary-color: #445D88;
    --tertiary-color: #9BABC6;

    --main-font-color: #e0e1dd;
    --secondary-font-color: #1b263b;
    --faded-font-color: #aaa;

    --borders: 2px solid var(--primary-color);
}


/*------------------------------ ACCESSIBILITY -------------------------------*/
.sr-only { /* Hide "skip to main content"-link. */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus { /* Show "skip to main content"-link when focused. */
    position: static;
    width: auto;
    height: auto;
}


/*----------------------------------- CORE -----------------------------------*/
html, body, nav ul, nav ul li, h1, h2, #toast-list, #todo-list, .task-text {
    margin: 0;
    padding: 0;
}
html {
    background-color: var(--secondary-color);
    color: var(--main-font-color);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100%;
}

/* TEXT */
h1 a, footer h2 a {
    color: var(--main-font-color);
    text-decoration: none;
}
h2 {
    text-align: center;
}

/* BUTTONS */
.btn {
    display: flex;
    flex-flow: row nowrap;
}
.btn .icon {
    order: -1;
}
.delete {
    color: darkred;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}
nav ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    list-style-type: none;
}
nav ul li:first-of-type {
    padding-left: 10px;
    width: 100%;
}
#menu-toggle, #settings-toggle {
    border: none;
    font-size: 1.5em;
    height: 100%;
    height: 50px;
    min-width: 50px;
}

/* MAIN */
main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 50px auto 0 auto;
}
.container {
    height: 100%;
    max-width: 1000px;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.8em;
    justify-content: space-between;
    padding: 0 1%;
}


/*---------------------------------- TOASTS ----------------------------------*/
#menu, .menu {
    background-color: var(--primary-color);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    max-height: calc(100vh - 50px);
    max-width: 15%;
    min-width: 200px;
    overflow-y: scroll;
    padding: 0 1%;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 997;
}
#log-title {
    padding-bottom: 5px;
    text-align: center;
}
#toast-list {
    list-style: none;
}
#toast-list.closed-menu .toast {
    display: none;
}
#toast-list.closed-menu .toast.show-temp {
    display: block;
}
.toast {
    border-top: 2px solid var(--secondary-color);
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 5px;
    padding-top: 5px;
    position: relative;
}
.toast-title {
    font-size: 1.2em;
}
.toast-msg {
    margin: 0;
}
.toast .timestamp {
    font-size: 0.9em;
    margin: 0;
    padding-bottom: 5px;
}
.toast .delete {
    position: absolute;
    right: 5px;
    top: 5px;
}
.toast.success .toast-title {
    color: rgb(130, 219, 130);
}
.toast.info .toast-title {
    color: rgb(130, 130, 219);
}
.toast.warning .toast-title {
    color: rgb(219, 219, 130);
}
.toast.error .toast-title {
    color: rgb(219, 130, 130);
}


/*--------------------------------- SETTINGS ---------------------------------*/
#settings {
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}
#settings-form {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 3% 0;
}
#settings-form .form-field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#settings-form .form-field:last-of-type {
    margin-top: 20px;
    position: relative;
}
#settings-form .form-field:last-of-type::after {
    content: "";
    border-top: 3px dotted var(--tertiary-color);
    position: absolute;
    right: 0;
    top: -12px;
    width: 100%;
}
#settings-form .form-field label {
    margin-right: 5px;
}
#settings-form .form-field button {
    flex: 1 1 0;
}
#data-delete {
    border: none;
    padding: 2px 120px 0 120px;
    text-align: center;
}
#data-delete:hover, #data-delete:focus, #data-delete:active {
    background-color: darkred;
    color: white;
}


/*--------------------------------- CALENDAR ---------------------------------*/
#calendar-table {
    display: flex;
    flex-flow: column nowrap;
}
#calendar-nav {
    border: var(--borders);
}
.set-calendar {
}
#calendar-nav-month-wrapper {
}
#calendar-nav-year-wrapper {
}
#calendar-nav-previous {
}
#calendar-nav-current {
}
#calendar-nav-next {
}
.row {
    align-content: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.cell {
    align-content: center;
    border: var(--borders);
    display: table-cell;
    flex: 1 1 0;
    min-height: 70px;
    overflow: hidden;
    text-align: center;
    width: 0;
}
.day-header {
    background-color: var(--tertiary-color);
    color: rgb(32, 24, 17);
    font-size: 1.2em;
    font-weight: bold;
}
.day:not(.expanded-day) {
    aspect-ratio: 1 / 1;
}
.day-number {
    font-size: 1.2em;
}
.faded {
    color: var(--faded-font-color);
}

/* TASKS & EVENT CALENDAR DISPLAYS */
.compact-event:not(.more-events), .compact-task {
    background-color: var(--primary-color);
    border-radius: 5%;
    font-size: 1em;
    margin: 1%;
    text-wrap: pretty;
}
.compact-task {
    background-color: #f8a30e;
    color: black;
}

/* DAY VIEW */
.expanded-week .shrunk-day, .shrunk-week,
.day-header.shrunk-day:not(.expanded-column) {
    display: none; /* Hide other days and weeks. */
}
.expanded-day {
    background-color: var(--tertiary-color);
    flex: 100;
    padding: 3%;
    position: relative;
}
#day-view {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.expanded-day #day-title {
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
}
#day-view h4 {
    font-size: 1.75em;
}
#close-day-view {
    position: absolute;
    top: 0;
    right: 0;
}


/*---------------------------------- TASKS -----------------------------------*/
#tasks {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
#todo {
    margin-bottom: 25%;
    width: 95%;
}
#tasks h2 {
}
#todo h3 {
    text-align: center;
}
.has-subtasks {
    padding: 0 0 0 calc(1em + 10px);
}
.task {
    list-style: none;
}
.task-wrapper {
    align-items: flex-start;
    border-bottom: 1px solid var(--primary-color);
    display: grid;
    grid-template-columns: [checkbox] 25px [task] auto [due] auto [timestamp] 90px [dropdown] 31px;
    margin-top: 5px;
}
.task-check {
    grid-area: checkbox;
    height: 16px;
    margin: 3px 0 0 0;
    width: 16px;
}
.task-text {
    grid-area: task;
    text-wrap: pretty;
    width: 100%;
}
.task-due {
    grid-area: due;
    text-align: right;
    width: 100%;
}
.task-time {
    color: var(--faded-font-color);
    font-size: 0.8em;
    grid-area: timestamp;
    margin-top: 1px;
    text-align: right;
}
.task-dropdown {
    grid-area: dropdown;
    margin-left: 5px;
    position: relative;
    text-align: right;
}
.task-progress {
    display: none;
    grid-area: progress;
}
.task-dropdown-content {
    display: flex;
    flex-flow: column nowrap;
    max-width: 125px;
    position: absolute;
    right: 0;
    width: 100px;
    z-index: 996;
}
.optionGroup {
    font-weight: bold;
    font-style: italic;
}
.optionChild {
    padding-left: 15px;
}


/*--------------------------------- POMODORO ---------------------------------*/
#pomodoro {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
#pom-display {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pom-feedback {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 200px;
    min-width: 200px;
    position: absolute;
}
#pom-time {
    font-size: 2em;
}
#pom-svg {
    height: 200px;
    width: 200px;
}
#pom-circle {
    fill: none;
    stroke: var(--primary-color);
    stroke-dasharray: 565.48;
    stroke-dashoffset: 0;
    stroke-width: 8px;
    transform: rotate(-90deg);
    transform-origin: 100px 100px;
}


/*-------------------------------- COMPANION ---------------------------------*/
#companion {
    bottom: 0;
    position: fixed;
    right: 0;
    transition: bottom 0.3s ease;
    z-index: 999;
    width: 350px;
}
.dialog {
    background-color: var(--tertiary-color);
    color: var(--secondary-font-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.025em;
    padding: 10px;
    text-align: center;
}
#companion-svg {
    animation: bounce 3s infinite;
    height: 100%;
}


/*------------------------------ MEDIA QUERIES -------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #companion {
        width: 150px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #companion {
        width: 250px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #companion {
        width: 350px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
} 


/*-------------------------------- ANIMATIONS --------------------------------*/
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/*-------------------------------- OVERRIDES ---------------------------------*/
.closed {
    display: none;
}