/*--------------------------------- IMPORTS ----------------------------------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); /* Bootstrap Icons */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Open Sans - Google Fonts: Primary font. */


/*-------------------------------- VARIABLES ---------------------------------*/
:root {
    --primary-color: #112851;
    --secondary-color: #445D88;
    --tertiary-color: #9BABC6;

    --main-font-color: #e0e1dd;
    --secondary-font-color: #1b263b;
    --faded-font-color: #aaa;

    --borders: 2px solid var(--primary-color);
}


/*------------------------------ ACCESSIBILITY -------------------------------*/
.sr-only { /* Hide "skip to main content"-link. */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus { /* Show "skip to main content"-link when focused. */
    position: static;
    width: auto;
    height: auto;
}


/*----------------------------------- CORE -----------------------------------*/
html, body, nav ul, nav ul li, h1, h2, #toast-list, #todo-list, .task-text {
    margin: 0;
    padding: 0;
}
html {
    background-color: var(--secondary-color);
    color: var(--main-font-color);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100%;
}

/* TEXT */
h1 a, footer h2 a {
    color: var(--main-font-color);
    text-decoration: none;
}
h2 {
    font-size: 2em;
    margin-top: 15px;
    text-align: center;
}

/* BUTTONS */
.btn {
    border: none;
    cursor: pointer;
    text-align: center;
}
.btn:has(.icon) {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.btn .icon {
    order: -1;
    padding-right: 5px;
}
.delete {
    color: darkred;
}
.delete:hover, .delete:focus, .delete:active {
    background-color: darkred;
    color: white;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}
nav ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    list-style-type: none;
}
nav ul li:first-of-type {
    padding-left: 10px;
    width: 100%;
}
#menu-toggle, #settings-toggle {
    border: none;
    font-size: 1.5em;
    height: 100%;
    height: 50px;
    min-width: 50px;
}

/* MAIN */
main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 50px auto 0 auto;
}
.container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.7em;
    justify-content: space-between;
    padding: 0 1% 1% 1%;
}


/*---------------------------------- TOASTS ----------------------------------*/
#menu, #settings {
    background-color: var(--primary-color);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    max-height: calc(100vh - 50px);
    max-width: 20%;
    min-width: 200px;
    overflow-y: scroll;
    padding: 0 1%;
    position: fixed;
    right: 0;
    top: 50px;
    transition: right 0.3s ease;
    z-index: 995;
}
#menu:not(#tost-list.closed-menu) {
    right: 0;
}
#menu:has(#toast-list.closed-menu) {
    right: -300px;
}
#menu:has(#toast-list.closed-menu .toast.show-temp) {
    right: 0;
    z-index: 997;
}
#log-title {
    padding-bottom: 5px;
    text-align: center;
}
#toast-list {
    list-style: none;
}
#toast-list.closed-menu .toast {
    display: none;
}
#toast-list.closed-menu .toast.show-temp {
    display: block;
}
.toast {
    border-top: 2px solid var(--secondary-color);
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 5px;
    padding-top: 5px;
    position: relative;
}
.toast .btn .icon {
    padding-right: 0;
}
.toast-title {
    font-size: 1.2em;
}
.toast-msg {
    margin: 0;
    text-wrap: stable;
}
.toast .timestamp {
    font-size: 0.9em;
    margin: 0;
    padding-bottom: 5px;
}
.toast .delete {
    position: absolute;
    right: 5px;
    top: 5px;
}
.toast.success .toast-title {
    color: rgb(130, 219, 130);
}
.toast.info .toast-title {
    color: rgb(130, 130, 219);
}
.toast.warning .toast-title {
    color: rgb(219, 219, 130);
}
.toast.error .toast-title {
    color: rgb(219, 130, 130);
}


/*--------------------------------- SETTINGS ---------------------------------*/
#settings {
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}
#settings-form {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 3% 0;
}
#settings-form .form-field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#settings-form .form-field:last-of-type {
    margin-top: 20px;
    position: relative;
}
#settings-form .form-field:last-of-type::after {
    content: "";
    border-top: 3px dotted var(--tertiary-color);
    position: absolute;
    right: 0;
    top: -12px;
    width: 100%;
}
#settings-form .form-field label {
    margin-right: 5px;
}


/*--------------------------------- CALENDAR ---------------------------------*/
#calendar-table {
    border-left: var(--borders);
    border-top: var(--borders);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}
#calendar-title::after {
    content: "";
    border-bottom: var(--borders);
    display: block;
    margin: 0 0 10px 0;
    width: 30vw;
    max-width: 600px;
    min-width: 250px;
}
#calendar-nav {
    align-items: center;
    border-right: var(--borders);
    display: flex;
    flex-flow: row nowrap;
}
#calendar-nav button {
    font-size: 1em;
    height: 100%;
    min-height: 25px;
    min-width: 70px;
    padding: 0;
    width: 100%;
}
#calendar-nav button:not(:nth-of-type(2)) {
    border-right: var(--borders);
}
#calendar-nav button:nth-of-type(1) {
    flex-grow: 1;
}
#calendar-nav button:nth-of-type(3) {
    flex-shrink: 2;
    min-width: 70px;
}
#calendar-nav button:nth-of-type(2) {
    flex-grow: 1;
    order: 1;
}
#calendar-nav-current span {
    padding: 0;
}
.row {
    align-content: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.cell {
    align-content: center;
    border-right: var(--borders);
    border-bottom: var(--borders);
    display: table-cell;
    flex: 1 1 0;
    overflow: hidden;
    text-align: center;
}
.day-header {
    background-color: var(--tertiary-color);
    border-top: var(--borders);
    color: rgb(32, 24, 17);
    font-size: 1.2em;
    font-weight: bold;
}
.day:not(.expanded-day) {
    aspect-ratio: 1 / 1;
}
.day-number {
    font-size: 1.2em;
}
.faded {
    color: var(--faded-font-color);
}

/* CALENDAR - HIGHLIGHTS */
/*TODO: Implement highlights.*/
/*.today {
    border: 2px solid red;
}
.event {
    border: 2px solid green;
}
.deadline {
    border: 2px solid magenta;
}
.journal-entry {
    border: 2px solid blue;
}*/

/* TASKS & EVENT CALENDAR DISPLAYS */
.compact-event:not(.more-events), .compact-task {
    background-color: var(--primary-color);
    border-radius: 5%;
    font-size: 1em;
    margin: 1%;
    text-wrap: stable;
}
.compact-task {
    background-color: #f8a30e;
    color: var(--secondary-font-color);
}

/* DAY VIEW */
.expanded-week .shrunk-day, .shrunk-week,
.day-header.shrunk-day:not(.expanded-column) {
    display: none; /* Hide other days and weeks. */
}
.day-header.expanded-column {
    border: var(--borders);
    border-left: none;
}
.expanded-day {
    background-color: var(--secondary-color);
    flex: 100;
    padding: 1%;
    position: relative;
}
#day-view {
    align-content: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.expanded-day h3 {
    border-bottom: var(--borders);
    font-size: 2em;
    left: 9px;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: calc(100% - 2%);
}
#planner h4, #journal h4 {
    border-bottom: var(--borders);
    font-size: 1.75em;
    margin: 75px 0 16px 0;
    text-align: left;
}
#close-day-view {
    background-color: var(--primary-color);
    border: none;
    color: var(--main-font-color);
    font-size: 2em;
    height: 40px;
    position: absolute;
    top: 0;
    right: 1%;
    width: 40px;
    z-index: 994;
}
#close-day-view .icon {
    padding-right: 0;
}

#planner, #journal {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
    margin: 0 1%;
    width: 100%;
}
#planner-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.full-event {
    background-color: var(--tertiary-color);
    border: var(--borders);
    color: var(--secondary-font-color);
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 15px;
    padding-top: 15px;
}
.full-event-title {
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 5px;
}
.full-event-time, .full-event-description {
    margin: 7px 0;
    padding: 0 5px;
}
.full-event-controls, #journal-controls {
    align-items: center;
    border-top: var(--borders);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 100%;
}
.full-event-controls button {
    width: 100%;
}
.full-event-controls button:last-of-type {
    border-left: var(--borders);
}
#planner-controls button, #journal-save {
    border: var(--borders);
    height: 100%;
    width: 100%;
}

#journal-form {
    border: var(--borders);
    height: 100%;
}
#journal-form .form-field:not(:last-of-type) {
    border-bottom: var(--borders);
}
#journal-form .form-field:not(:first-of-type) {
    display: grid;
    grid-template-columns: [label] 175px [input] 1fr;
    width: 100%;
}
#journal-text {
    background-color: var(--tertiary-color);
    border: none;
    color: var(--secondary-font-color);
    font-size: 1.2em;
    height: 100%;
    margin: 0;
    min-width: calc(100% - 10px);
    overflow: visible;
    padding: 5px;
}
#journal-form input, #journal-form select {
    grid-area: input;
}
#journal-form label {
    border-right: var(--borders);
    grid-area: label;
    padding-left: 5px;
    text-align: left;
}
#journal-form input {
    background-color: var(--tertiary-color);
    border: none;
}
#journal-controls {
    border: none;
    margin: 0;
}
#journal-controls button {
    height: 100%;
    width: 100%;
}
#journal-save {
    border: none;
}
#journal-cancel {
    border: none;
    border-left: var(--borders);
}
#journal-entry {
    background-color: var(--tertiary-color);
    border: var(--borders);
    color: rgb(31, 31, 31);
}
#journal-edit {
    border-top: var(--borders);
    width: 100%;
}

/*---------------------------------- TASKS -----------------------------------*/
#tasks {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
#tasks h2::after {
    content: "";
    border-bottom: var(--borders);
    display: block;
    margin: 5px 0;
    width: 100%;

}
#todo {
    background-color: var(--tertiary-color);
    border: var(--borders);
    color: var(--secondary-font-color);
    margin-bottom: 25%;
    padding: 15px 0;
    width: 95%;
    z-index: 1;
}
#todo h3 {
    margin-bottom: 0;
    text-align: center;
}
#todo h3::after {
    content: "";
    border-bottom: var(--borders);
    display: block;
    margin: 5px 42vw;
}

#task-form {
    align-items: center;
    border-bottom: var(--borders);
    border-top: var(--borders);
    display: grid;
    grid-template-columns: [task] 1fr [due] auto [hierarchy] auto [add] auto;
    height: 100%;
    padding: 0 1px;
}
#task-form input[type="text"] {
    border: none;
    border-right: var(--borders);
    grid-area: task;
    height: 25px;
    padding: 0 15px;
}
#task-form input[type="date"] {
    border: none;
    border-right: var(--borders);
    grid-area: due;
    height: 25px;
    padding: 0 15px;
}
#task-form #add-hierarchy {
    border: none;
    border-right: var(--borders);
    grid-area: hierarchy;
    height: 25px;
    padding: 0 15px;
}
#task-form button:last-of-type {
    border: none;
    grid-area: add;
    height: 25px;
    padding: 0 15px;
}
#task-add-subtask {
    border: none;
    border-right: var(--borders);
    grid-area: hierarchy;
    height: 25px;
    width: 200px;
    padding: 0 15px;
}

#todo-list {
    padding: 0 15px 17px 15px;
}
.has-subtasks {
    padding: 0 0 0 calc(1em + 10px);
}
.task {
    list-style: none;
}
.task-wrapper:not(:has(.edit-task-wrapper)) {
    background-color: rgb(155, 171, 198, 0.5);
    border-bottom: 1px solid var(--primary-color);
    display: grid;
    grid-template-columns: [checkbox] 25px [task] auto [due] auto [timestamp] 100px [dropdown] 31px;
    margin-top: 5px;
    position: relative;
}
.task-check {
    grid-area: checkbox;
    height: 16px;
    margin: 3px 0 0 0;
    width: 16px;
}
.task-text {
    grid-area: task;
    text-wrap: stable;
    width: 100%;
}
.task-due {
    grid-area: due;
    text-align: right;
    width: 100%;
}
.task-time {
    color: var(--main-font-color);
    font-size: 0.8em;
    grid-area: timestamp;
    margin-top: 1px;
    text-align: right;
}
.task-dropdown {
    grid-area: dropdown;
    margin-left: 5px;
    position: relative;
    text-align: right;
}
.task-menu.btn {
    border: 1px solid var(--primary-color);
    border-bottom: none;
    padding-bottom: 0;
    position: relative;
    top: 2px;
}
.task-progress {
    display: none;
    z-index: -1;
}
progress[value] {
}
.task-dropdown-content {
    border: var(--borders);
    display: flex;
    flex-flow: column nowrap;
    max-width: 125px;
    position: absolute;
    right: 0;
    width: 100px;
    z-index: 990;
}
.task-dropdown-content .btn {
    height: 30px;
    width: 100%;
}
.task-dropdown-content .btn.edit {
    border-bottom: var(--borders);
}

.edit-task-wrapper {
    border-bottom: 1px solid var(--primary-color);
    display: grid;
    grid-template-columns: [text] 1fr [subtask] 150px [due] auto [controls] auto;
    margin-top: 5px;
    width: 100%;
}
.edit-task-wrapper .form-field {
    display: flex;
    flex-flow: row nowrap;
}
.form-field.edit-task-text {
    grid-area: text;
    justify-self: flex-start;
    width: 100%;
}
.form-field.edit-task-text input {
    width: 100%;
}
.form-field.edit-task-due {
    grid-area: due;
    justify-self: flex-end;
}
.edit-task-due label {
    margin: 0 5px;
}
.form-field.edit-task-subtask {
    grid-area: subtask;
}
.form-field.edit-task-subtask select {
    max-width: 150px;
}
.edit-task-wrapper .controls {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    grid-area: controls;
    justify-content: space-between;
    justify-self: end;
    width: 100%;
}

.optionGroup {
    font-weight: bold;
    font-style: italic;
}
.optionChild {
    padding-left: 15px;
}


/*--------------------------------- POMODORO ---------------------------------*/
#pomodoro {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 0;
}
#pomodoro h3 {
    margin-bottom: 5px;
}
#pomodoro h3::after {
    content: "";
    border-bottom: var(--borders);
    display: block;
    margin: 5px 0;
    width: 100%;
}
#pom-display {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pom-feedback {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 200px;
    min-width: 200px;
    position: absolute;
}
#pom-time {
    font-size: 2em;
}
#pom-svg {
    height: 200px;
    width: 200px;
}
#pom-circle {
    fill: none;
    stroke: var(--primary-color);
    stroke-dasharray: 565.48;
    stroke-dashoffset: 0;
    stroke-width: 8px;
    transform: rotate(-90deg);
    transform-origin: 100px 100px;
}
#pomodoro-controller {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 5px;
}
#pomodoro-controller button {
    aspect-ratio: 3 / 1;
    min-height: 25px;
    width: 100px;
}
#pom-start {
    border: var(--borders);
    border-radius: 20% / 50%;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 5px;
}
#pom-stop {
    border: var(--borders);
    border-left: 0;
    border-bottom: 0;
    border-radius: 20% / 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-right: 5px;
}


/*-------------------------------- COMPANION ---------------------------------*/
#companion {
    bottom: 0;
    position: fixed;
    right: 0;
    transition: bottom 0.3s ease, right 0.4s ease;
    z-index: 999;
    width: 350px;
}
.dialog {
    background-color: var(--tertiary-color);
    color: var(--secondary-font-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.025em;
    padding: 10px;
    text-align: center;
}
#companion-svg {
    animation: bounce 3s infinite;
    height: 100%;
}


/*------------------------------ MEDIA QUERIES -------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cell {
        min-height: 60px;
    }
    #day-view {
        flex-flow: column nowrap;
    }
    #companion {
        width: 150px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cell {
        min-height: 65px;
    }
    #companion {
        width: 250px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cell {
        min-height: 75px;
    }
    #companion {
        width: 350px;
    }
}


/*-------------------------------- ANIMATIONS --------------------------------*/
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/*-------------------------------- OVERRIDES ---------------------------------*/
.closed {
    display: none;
}